{% extends 'blog/base.html' %}

{% block title %}Список постов{% endblock %}

{% block content %}
{% include 'blog/header.html' %}
<h2>Список постов</h2>

<div class="d-flex flex-wrap gap-4 mt-5">
    {% for post in object_list %}
    <div class="card" style="width: 18rem;">
      <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content | truncatechars:100 }}</p>
            <div class="mt-auto">
                <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-primary mb-2">Подробнее</a>
                <a href="{% url 'blog:post_update' post.pk %}" class="btn btn-primary mb-2">Внести изменения</a>
                <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-primary mb-2">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}