{% extends 'catalog/base.html' %}

{% block title %}Детали продукта{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2>Детали продукта</h2>

<div class="card" style="width: 18rem;">
  <img src="{{ product.product_image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ object.product_name }}</h5>
    <p class="card-text">{{ object.product_description }}. {{ object.category }}. Цена: {{ object.product_price }}</p>
    <a href="/" class="btn btn-primary">Вернуться назад</a>
  </div>
</div>

{% endblock %}

