{% extends 'catalog/base.html' %}

{% block title %}Список продуктов{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2>Список продуктов</h2>

<div class="d-flex flex-wrap gap-4 mt-5">
    {% for product in object_list %}
    <div class="card" style="width: 18rem;">
      <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.product_name }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.product_name }}</h5>
            <p class="card-text">{{ product.product_description | truncatechars:100 }}. {{ product.category }}. Цена: {{ product.product_price }}</p>
            <div class="mt-auto">
                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary">Подробнее о продукте</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}